@import "var";
@import "basic";
@import "global";
@import "mixins";

// nav
nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($primary, 0.9);
  z-index: 10;
  color: $white;
  div {
    @include flex($y: center);
    & > a {
      font-size: 3rem;
      font-weight: 700;
      &:hover {
        color: $accents;
      }
    }
    ul {
      @include flex;
      li {
        text-transform: uppercase;
        margin-left: 20px;
        &:hover {
          color: $accents;
        }
      }
    }
  }
}

header {
  width: 100%;
  color: $white;
  &.main {
    background-image: url("../img/header.png");
    @include bgBasic;
    height: 115vh;
    article {
      @include flex($y: center);
      height: 90vh;
      div {
        flex: 0 0 49%;
        img {
          width: 100%;
        }
      }
      p {
        font-size: 1.3rem;
        font-weight: 300;
      }
    }
  }
}
